* {
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;

}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
      "nav"
      "title"
      "main"
  }
.content {
    grid-area: main;
    justify-content: flex-start;
    padding: 20px;
    margin: 0px;

  }
#map { 
    width: 85%; 
    height: 65%;
}

h1, h2, h3 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 56px;
}
h2{
    font-size: 36px;
}
h3 {
    font-size: 30px;
}

#appName, #appNav, #login {
    width: 100%;
    background-color: forestgreen;
    color: gold;
    padding: 10px;
    margin: 0;
}
#appName{
    font-family: 'Amatic SC', sans-serif;
    grid-area: title;
    display: flex;
    justify-content: flex-start;
    text-shadow:
     -1px -1px 0 goldenrod,  
      1px -1px 0 goldenrod,
      -1px 1px 0 goldenrod,
       1px 1px 0 goldenrod;
}

#login {
    font-size: 24px;
    grid-area: nav;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 0 20px 0 30px;
}

#appNav {
    font-family: 'Amatic SC', sans-serif;
    grid-area: nav;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 10px;
    font-size: 30px;

}
#appNav > a {
    padding: 5px 10px;
    /* border: 2px solid goldenrod; */
}
a:visited {
    color: purple;
}

.header-link a:link, a:visited {
    color: goldenrod;
    text-decoration: none;
    font-family: 'Amatic SC', sans-serif;
}
.header-link a:hover, a:active {
    color: goldenrod;
    text-decoration: none;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Urbanist', Arial, Helvetica, sans-serif;
}
/* Styling for markers with attached popup on map */
#marker {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid forestgreen;
    cursor: pointer;
    }

table thead th {
    padding: 5px;
    border-bottom: 2px solid #424748;
}
    
table td {
    padding: 10px;
    text-align: center;
}

.review-user img {
    border-radius: 50%;
    height: 40px;
    align-items: center;
  }

.mapboxgl-canvas {
    display: flex;
    justify-content: center;
    align-items: stretch;
    position:relative;
    align-content: center;
}