<%- include('../partials/header') %>

<h3 class="content">Add a new trail</h3>

<form class="content" id="new-trail" action="/trails/new" method="POST">
    <label>Park: </label><br><br>
        <select name="park">
            <%- parks.map(p => `<option value="${p._id}">${p.name}</option>`).join('') %>
        </select><br><br>
    <label>Trail name: </label>
    <input type="text" name="name"><br><br>
    <label>Distance (miles): </label>
    <input type="number" step="any" name="distance"><br><br>
    <input type="submit" value="Add Trail">
</form>

<%- include('../partials/footer') %>