<%- include('../partials/header') %>

<form id="new-trail" action="/trails/new" method="POST">
    <label>Trail name: </label>
    <input type="text" name="name"><br><br>
    <label>Distance (miles): </label>
    <input type="number" name="distance"><br><br>
    <label>Stree Address: </label>
    <input type="text" name="streetAddress"><br><br>
    <label>City: </label>
    <input type="text" name="city"><br><br>
    <label>State: </label>
        <select name="state"><br><br>
            <%- include('../partials/states') %>
        </select><br><br>
    <label>Zip: </label>
    <input type="number" name="zip"><br><br>
    <input type="submit" value="Add Trail">
</form>

<%- include('../partials/footer') %>