<%- include('../partials/header') %>

<h3 class="content">Add Location</h3>
<form class="content" id="new-address" action="/parks" method="POST">
    <label>Park name: (Required)</label>
    <input type="text" name="name"><br><br>
    <label>Entrance fee: </label>
    <input type="number" name="entranceFee"><br><br>
    <label>Street Address: </label>
    <input type="text" name="streetAddress"><br><br>
    <label>City: </label>
    <input type="text" name="city"><br><br>
    <label>State: </label>
        <select name="state"><br><br>
            <%- include('../partials/states') %>
        </select><br><br>
    <label>Zip: </label>
    <input type="number" name="zip"><br><br>
    <label>Longitude: (Required)</label>
    <input type="number" step="any"  name="longitude">
    <label>Latitude: (Required)</label>
    <input type="number" step="any" name="latitude">   
    <input type="submit" value="Add Park">
</form>


<%- include('../partials/footer') %>